@import "common-settings/include-media";
@import "common-settings/normalize";

@import "basic-settings/variables";
@import "basic-settings/reset";

body {
  font-family: "PT Serif", serif;
}

h2 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 80px;
  color: $text-color;
  font-weight: bold;
  font-family: "Montserrat";

  @include media("<tablet") {
    font-size: 30px;
  }
}

h3 {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 80px;
  color: $primary-color;
  font-weight: 700;
  font-family: "Montserrat";

  @include media("<tablet") {
    font-size: 30px;
    line-height: 40px;
  }
}

p {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  color: text-color;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1041px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 38px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      text-decoration: none;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: $text-color;
      font-family: "Montserrat", sans-serif;
      padding: 12px 15px;

      &:hover {
        color: #fff;
        border-radius: 4px;
        background-color: $primary-color;
      }
    }
  }

  ul {
    @include media("<tablet") {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
    }

    li {
      display: inline-block;

      @include media("<tablet") {
        padding: 20px;
      }
    }
  }

  @include media("<tablet") {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: $primary-color;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
}

// .active-nav {
//   .nav {
//     visibility: visible;
//     opacity: 1;
//     left: 0;
//   }
// }

// .nav-opener {
//   z-index: 3;
//   color: #000;
//   font-size: 30px;

//   @include media(">tablet") {
//     display: none;
//     position: relative;
//   }
// }

.main-info {
  background-color: $bg-color;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;

  .heading {
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 90px;
    color: $text-color;
    letter-spacing: -2px;
    line-height: 80px;
    text-transform: uppercase;
    max-width: 500px;
    padding-bottom: 48px;
    padding-top: 164px;

    @include media("<desktop") {
      text-align: center;
      max-width: 1000px;
      padding-top: 64px;
    }

    @include media("<tablet") {
      font-size: 50px;
    }
  }

  .p {
    max-width: 500px;
    line-height: 28px;
    color: $text-color;
    font-size: $text-size;

    @include media("<desktop") {
      text-align: center;
      max-width: 1000px;
      padding-bottom: 20px;
    }
  }
}

.first-word {
  color: $primary-color;
}

.main-container {
  position: relative;
  min-height: 690px;
}

.form {
  max-width: 400px;
  border-radius: 4px;
  background: $primary-color;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 100%;
  overflow: hidden;

  .form-heading {
    font-size: 22px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Montserrat";
    text-align: center;
    line-height: 90px;
  }

  .input {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    padding: 0 16px;

    input {
      font-size: 20px;
      letter-spacing: 0px;
      line-height: 25px;
      color: $form-input-col;
      font-family: "PT Serif";
      max-width: 355px;
      min-height: 58px;
      border-radius: 4px;
      width: 100%;
      border-color: transparent;
    }
  }

  .terms {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-family: "PT Serif";
    margin-bottom: 20px;
    margin-left: 16px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .submit {
    margin: 16px 0 30px 0;
    width: 100%;
    padding: 0 16px;

    input {
      max-width: 355px;
      min-height: 58px;
      border-radius: 4px;
      width: 100%;
      border-color: transparent;
      background-color: $text-color;
      color: #fff;
      font-size: 22px;
      letter-spacing: 0px;
      font-family: "Montserrat";
    }
  }

  @include media("<desktop") {
    position: static;
  }
}

.form-container {
  @include media("<desktop") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.our-services {
  min-height: 480px;

  @include media("<desktop") {
    min-height: 300px;
  }

  h2 {
    padding: 40px 0 98px 0;

    @include media("<desktop") {
      padding: 20px 0 20px 0;
    }
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -50px;

  @include media("<desktop") {
    margin: 0 -10px;
  }

  .service {
    width: 25%;
    padding: 0 50px;
    text-align: center;
    margin-bottom: 65px;

    @include media("<desktop") {
      padding: 0 10px;
      margin-bottom: 10px;
      width: 50%;
    }

    .img-holder {
      margin-bottom: 42px;
      width: 100%;
      min-height: 160px;

      @include media("<desktop") {
        margin-bottom: 10px;
      }
    }
  }
}

.our-story {
  background-color: $primary-color;
  overflow: hidden;

  p {
    color: #fff;
    max-width: 630px;
  }

  .story-container {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;

    @include media("<=tablet") {
      flex-direction: column;
      align-items: center;
    }

    .story {
      max-width: 605px;
      padding-left: 15px;

      @include media("<tablet") {
        max-width: 760px;
      }
    }

    .btn {
      border-radius: 4px;
      background: $bg-color;
      padding: 24px 54px;
      max-width: 270px;
      font-family: "Montserrat";
      color: $text-color;
      text-decoration: none;
      font-size: 22px;
      display: inline-block;
      margin-bottom: 10px;

      span {
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;
      }
    }
  }
}

.pricing {
  background-color: $bg-color;
  padding-top: 30px;

  h2 {
    text-align: center;
    line-height: 80px;
  }

  .pricing-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -11px;

    .price-offer {
      width: 33.33%;
      padding: 0 11px;
      margin: 0;

      .price-offer-box {
        background-color: #fff;
        max-width: 320px;
        min-height: 380px;
        border-radius: 4px 4px 0 0;
        text-align: center;

        p {
          padding-top: 35px;
          padding-bottom: 15px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            line-height: 28px;
          }
        }

        .offer-btn {
          font-size: 22px;
          letter-spacing: 0px;
          line-height: 28px;
          color: #ffffff;
          font-weight: 400;
          font-family: "Montserrat";
          text-align: center;
          background-color: $bg-color;
          text-decoration: none;
          width: 206px;
          display: inline-block;
          padding-top: 16px;
          padding-bottom: 16px;
          border-radius: 4px;

          &:hover {
            background-color: $primary-color;
          }
          @include media("<desktop") {
            margin-bottom: 10px;
          }

          @include media("<tablet") {
            width: 100px;
            font-size: 16px;
          }
        }

        @include media("<desktop") {
          width: 100%;
        }

        @include media("<tablet") {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }

      @include media("<desktop") {
        width: 50%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include media("<tablet") {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.popular {
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "Popular";
    top: 0;
    left: -50px;
    transform: rotate(-45deg);
    background: #b4a993;
    text-align: center;
    padding: 25px 25px 10px 42px;
    font-size: 16px;
  }
}

.testimonial {
  > h2 {
    text-align: center;
  }

  @include media("<tablet") {
    width: 100%;
  }
}

.article {
  width: 440px;
  position: relative;
  min-height: 140px;
  margin-bottom: 32px;

  &:hover {
    background-color: $bg-color;
  }

  @include media("<desktop") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-text-holder {
    max-width: 370px;

    @include media("<tablet") {
      max-width: 700px;
      text-align: center;
    }

    p {
      padding: 10px;
    }

    & :nth-child(2) {
      color: $primary-color;
      line-height: 28px;
      padding-top: 20px;
    }
  }

  .article-img {
    position: absolute;
    display: inline-block;
    left: 100%;
    width: 105px;
    border-radius: 50%;
    top: 15%;
    transform: translateX(-50%);
    -webkit-box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);
    box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);

    @include media("<desktop") {
      position: static;
      transform: none;
    }
  }

  @include media("<=tablet") {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include media("<tablet") {
    width: 100%;
  }
}

.gallery-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 15px;

  @include media("<desktop") {
    padding-top: 10px;
  }

  @include media("<=tablet") {
    flex-direction: column;
    align-items: center;
  }

  .gallery-cont {
    text-align: center;

    a {
      color: $primary-color;
      font-size: 20px;
      letter-spacing: 0px;
      line-height: 28px;
      font-family: "Montserrat";
    }
  }
}

.gallery-img-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  justify-content: center;
  align-items: center;
  max-width: 390px;

  .img-border {
    width: 33.33%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("<tablet") {
      width: 50%;
    }
  }

  .gallery-img-holder {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
      -webkit-box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);
      -moz-box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);
      box-shadow: 5px 5px 16px 0px rgba(184, 172, 147, 0.75);
    }
  }
}

.footer {
  background-color: #000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 182px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  p {
    font-size: 20px;

    @include media("<tablet") {
      font-size: 16px;
    }
  }

  @include media("<desktop") {
    min-height: 100px;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }
}
